
 body {
            background-color:#CAF0F8 ;
        }
        .container {
            display: grid;
            padding: 1em 1em;
            grid-template-columns: repeat(2,1f);
            grid-column-gap: 0px;
            grid-row-gap: 1px;
            grid-template-areas: initial;
        }
        .row img{
            width: 80%;
            height: 150px auto;
            object-fit: cover;
            cursor: pointer;
            transition: 0.5s;
            border-radius: 2em;
            padding: 1em;
        }
        .row h3 {
            text-align: center;
        }
        .row h1 {
            text-align: center;
        }
        .col-4 {
            background-color: #00B4D8;
            border: 0.5em;
            text-align: center;
            border-radius: 1em;
            padding-bottom: 20px;
            margin: 50%;
            
        }
        .box {
            border-radius: 10em;
            padding: 5em;
            size: 10px;
            margin: 10em;
            flex: 1;
        }
        .contact_us {
            text-align: center;
            background-color: #0077B6 ;
            border-radius: 30%;
            padding-bottom: 20px;
            padding-top: 1.5px;
            padding: 10px;

        }
        .footer {
            background-color: #48CAE4;
            text-align: center;
            padding: 10px;
            border-radius: 20%;
        }
        
        .cart {
    background-color:#90E0EF ;
    flex: 1;
    padding-top: 0.1em;
}

.theCartTable {
    margin-left: auto;
    margin-right: auto;
    
}

.item {
    text-align: center;
}

.checkOut, .payBtn {
    display: box;
    margin: auto;
    border-radius: 20%;
    background-color: #0096C7 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.increaseBtn, .decreaseBtn {
    display: box;
    margin: auto;
    border-radius: 20%;
    background-color: #0096C7 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pAmt {
    font-weight: bold;
    border: 10em;
    border-radius: 20%;
}

.payAmt {
    border-radius: 20%;
    margin-left: 3px;
    padding: 3px;
    background-color: #0096C7;
    font-size: 12px;
    box-shadow: none;
    display: ruby;
}
.hidden {
    display: none;
}

.increaseBtn:active, .decreaseBtn:active, .checkOut:active, .payBtn:active {
    box-shadow:#0096C7  ;
}
h2 {
    text-align: center;
}